<div class="edit-item card z-1">
  {{yield}}
  {{#if meta}}
    <span class="meta">{{meta}}</span>
  {{/if}}

  <div class="actions">
    <button {{action 'edit'}} class="edit action main"><i class="icon icon-placeholder"></i></button>
    <button {{action 'delete'}} class="delete action"><i class="icon icon-placeholder"></i></button>
  </div>
</div>


