<div class="item-list">
  {{#each recipe in recipes}}
    {{#edit-item model=recipe meta=recipe.formatedDate}}
      {{recipe.title}}
    {{/edit-item}}
  {{else}}
    <div class="empty-list">
      <i class="icon icon-placeholder"></i>
      You didn’t create a recipe yet
    </div>
  {{/each}}
</div>

