.recipe-ingredients {
  margin: $dim-min * 4 0;

  .ingredient-list {
    display: table;
    width: 100%;
    padding: 0 $dim-min $dim-min * 4;
  }
}

@media (min-width: $breakpoint-md){
  .recipe-ingredients {
    max-width: 320px;
  }
}

.recipe-ingredient {
  display: table-row;
  width: 100%;
  @include clear-fix;

  .quantity {
    width: 50px;
    white-space: nowrap;
  }

  .part {
    display: table-cell;
    padding: $dim-min * 2 $dim-min * 3;
    position: relative;
  }

  .action {
    color: $color-neutral-dark;
    font-size: 20px;
    text-align: right;
    padding: 0 $dim-min 0 0;
  }

  .edit {
    padding: $dim-min * 2 0;
  }

  &:last-of-type {
    .part {
      padding-bottom: 0;
    }
  }

  &:forst-of-type {
    .part {
      padding-top: 0;
    }
  }
}