@import "recipr";

html,
body,
.container {
    margin: 0;
    padding: 0;
    height: 100%;

    .content {
        padding-top: 60px;
    }

    @media (min-width: $breakpoint-2) {
        .content {
            padding-left: 200px;
        }
    }
}
