<template name="login">
  <div class="login-box">
    <div class="wrap">
      <div class="{{#if show}}anim-up{{/if}}">
        <div class="card dark z-1 {{#if loginError}}login-error{{/if}}">
          <h1 class="logo">Recipr</h1>
          <span class="slogan">{{_ "login.subline"}}</span>

          <form class="login-form">
            <div class="form-row">
              <input id="login-email" type="text" class="{{#if loginError}}input-error{{/if}} input dim-100" placeholder={{_ "login.username"}}>
            </div>
            <div class="form-row">
              <input id="login-password" type="password" class="{{#if loginError}}input-error{{/if}} input dim-100" placeholder={{_ "login.password"}}>
              {{#if loginError}}
                <span class="form-error">{{loginError}}</span>
              {{/if}}
            </div>
            <div class="form-row">
              <button type="submit" class="btn btn-accent dim-100">
                {{#if loggingIn}}
                  <i class="spinner icon icon-placeholder"></i>
                {{else}}
                  {{_ "login.button"}}
                {{/if}}
              </button>
            </div>
          </form>
        </div>
        <a href="/reset-password" class="a reset">{{_ "login.forgot-pw"}}</a>
      </div>
    </div>
  </div>
</template>
