<template name="login">
  <div class="login-box">
    <div class="wrap">
      <div class="card dark z-1">
        <h1 class="logo">Recipr</h1>
        <span class="slogan">Hey, nice to see you!</span>
        <form class="login-form">
          <div class="form-row">
            <input type="text" class="input dim-100" placeholder="Username">
          </div>
          <div class="form-row">
            <input type="password" class="input dim-100" placeholder="Password">
          </div>
          <div class="form-row">
            <label class="remember"><input type="checkbox" class="checkbox">Remember me</label>
          </div>
          <div class="form-row">
            <input type="submit" class="btn btn-accent dim-100" value="Login">
          </div>
        </form>
      </div>
      <a href="/reset-password" class="a reset">Forgot your password?</a>
    </div>
  </div>
</template>
