* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 16px;
}

.sidebar {
	float: left;
	width: 200px;
	height: 100%;
	border-right: 1px solid black;
	margin: 0;
	padding: 20px;
	list-style-type: none;
	position: relative;
	z-index: 100;
}

.content {
	float: left;
	padding: 20px;
	padding-left: 220px;
	padding-right: 200px;
	position: absolute;
	width: 100%;
	overflow: hidden;
}

.context-menu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 200;
	border: 1px solid black;
	min-width: 10px;
	min-height: 10px;
	padding: 20px;
	margin: 20px;
}

.context-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.section {
	padding: 20px 0;
	overflow: hidden;
	position: relative;
}

.show-sections .section{
	border-bottom: 1px solid black;

}

.section .section-name {
	display: block;
	width: 100%;
}

.section .remove-section {
	position: absolute;
	top: 0;
	right: 0;
}

.add-section {
	float: right;
}

.half {
	width: 50%;
	padding: 20px;
	margin: 0;
	float: left;
}

.half:first-of-type {
  padding-left: 0;
}

.half:last-of-type {
  padding-right: 0;
}

.step {
	position: relative;
}


.step textarea {
	display: block;
	width: 100%;
	min-height: 100px;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 20px;
}

.step.show-steps textarea {
	margin-left: 30px;
}

.step .order {
	color: white;
	background-color: black;
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.step .remove-step {
	position: absolute;
	top: 0;
	right: -30px;
}

.save-recipe {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: block;
	background-color: black;
	color: white;
	border: none;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
}