<template name="setup">
  <div class="setup-box">
    <div class="wrap">
      <div class="card dark z-1">
        {{#autoForm id="setupForm" schema=setupSchema validation="keyup" class="setup-form" type="method" meteormethod="setup"}}
          <section class="card-section card-title">
            <h1 class="logo">Recipr Setup</h1>
            <span class="subline">Nice to meet you! Before you start, we need some data from you to create an account. </span>
          </section>

          <section class="card-section">
            {{> input 
              type="text" 
              name="profile.sitename" 
              label="What's the name of your site?" 
              placeholder="Site name" 
            }}
          </section>

          <section class="card-section">
            {{> input 
              type="text" 
              name="username" 
              label="What's your name? This is the displayed name"
              placeholder="Username" 
            }}
          </section>

          <section class="card-section">
            {{> textarea 
              type="textarea" 
              name="profile.bio" 
              label="Want to display a short biography of yourself?"
              placeholder="Bio" 
            }}
          </section>

          <section class="card-section">
            {{> input 
              type="email" 
              name="email" 
              label="What's your email address? you need this to log in"
              placeholder="E-Mail address" 
            }}
          </section>

          <section class="card-section">
            {{> input 
              type="password" 
              name="password" 
              label="Choose a password that contains letters and digits"
              placeholder="Password" 
            }}
          </section>

          <section class="card-section">
            {{> input 
              type="password" 
              name="passwordConfirm" 
              label="Please repeat your password."
              placeholder="Password" 
            }}
          </section>

          <section class="card-section card-section-big">
            <div class="form-row">
              <input type="submit" class="btn btn-accent btn-big dim-100" value="Finish Setup">
            </div>
          </section>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
