/* Colors */
$color-background: #ffffff;
$color-text: #000000;

$color-primary-light: #404457;
$color-primary: #272832;
$color-primary-dark: #10121D;

$color-primary-text: #ffffff;

$color-accent: #3945AA;
$color-accent-light: #505ECE;
$color-accent-dark: #1B267F;
$color-accent-text: $color-primary-text;

$color-neutral: #E9E7E7;
$color-neutral-dark: #A6A6A6;

$color-placeholder: $color-neutral;
$color-button: $color-neutral;
$color-button-text: $color-primary;

$color-error: #DF5151;
