/* Font settings */

$font-family-default: Verdana, Geneva, sans-serif;

$font-size-default: 15px;
$font-line-height-default: 22px;

$font-size-small: 13px;
$font-line-height-small: 20px;

$font-size-big: 20px;
$font-line-height-big: 27px;


