<template name="recipes">

  <div id="recipes">
    <div class="card rect z-1 dim-default-padding">
      <button class="add-recipe btn-add btn btn-accent btn-big dim-100">
        <i class="icon icon-plus"></i>
        {{_ "recipes.create"}}
      </button>
    </div>

    <div class="item-list">
      {{#if hasRecipes}}
          {{#each this}}
            {{> listItem}}
          {{/each}}
      {{else}}
       <div class="empty-list">
          <i class="icon icon-placeholder"></i>
          {{_ "recipes.empty"}}
        </div>
      {{/if}}
    </div>
  </div>
</template>