<template name="recipeIngredients">
  <div class="recipe-ingredients">

    <h2 class="remove-until-md">Ingredients</h2>

    <div class="ingredient-list">
      {{#each this}}
          {{> recipeIngredient this}}
      {{/each}}
    </div>

    <form name="ingredient-form">
      <div class="input-wrap">
         <input type="text"
          class="new-ingredient input dim-100"
          placeholder="Add Ingredient"
        />
        <button type="submit" class="add-ingredient input-icon icon icon-placeholder"></button>
      </div>
    </form>
  </div>
</template>