@import "recipr";


* {
  @include box-sizing(border-box);
}

html,
body {
  margin: 0;
  padding: 0;
}

.btn {
    @include btn;
}

.input {
    @include input;
}

.inputGroup {
    @include input-group;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}