{{#each ingredient in section.ingredients}}
  <div class="row">
    {{recipr-ingredient
      remove="removeIngredient"
      name=ingredient.name
      unit=ingredient.unit
      quantity=ingredient.quantity
      ingredient=ingredient
    }}
  </div>
{{/each}}
<div class="row">
  <form {{bind-attr class=":inputGroup ingredientError:true"}} {{action "addIngredient" section on="submit" }}>
      <div>
         {{view Ember.TextField value=newIngredient valueBinding="text" class="input" type="text" name="ingredient" placeholder="Add Ingredient"}}
      </div>
      <div>
          <button type="submit" class="btn">+</button>
      </div>
  </form>
</div>
