<template name="recipe">
	<form class="recipe-form fill-content">
    <div class="has-main-action">
      <div class="card main-card rect z-1 dim-default-padding-x">
        <div class="form-row">

          <input 
            autofocus 
            type="text" 
            name="title" 
            value="{{title}}" 
            placeholder="Title *"
            class="input input-big dim-100">
          {{#if titleError}}
            <span class="form-error">Ups, i think you forgot the title</span>
          {{/if}}
        </div> 

        {{#if showIntro}}
          <div class="form-row">
            <textarea rows="3" name="intro" placeholder="Intro" class="input dim-100">{{intro}}</textarea>
          </div>
        {{/if}}
      </div>

      <div class="card rect z-1 dim-default-padding">
        <div class="remove-from-md">
          {{> tabs recipeTabs}}
        </div>
  
        {{> recipeSections sections}}
      </div>

    </div>

    <button 
      type="submit" 
      class="save-recipe btn btn-accent btn-big btn-middle dim-100">
      Save Draft
    </button>

  </form>
</template>