<template name="recipe">
	<form class="recipe-form fill-content">
    <div class="has-main-action">
      <div class="card main-card rect z-0 dim-default-padding-x">
        <div class="form-row">
          <input 
            autofocus 
            type="text" 
            name="title" 
            value="{{title}}" 
            autocomplete="off"
            placeholder="Title *"
            class="input input-big dim-100 {{#if titleError}}input-error{{/if}}">
          {{#if titleError}}
            <span class="form-error">{{titleError}}</span>
          {{/if}}
        </div>

        <div class="form-row">
          <div class="image-upload action-bar">
            {{#if cover}}
              <img class="image" src="{{cover.url}}" />
              <div class="actions">
                <button type="button" class="delete-cover action icon icon-trashcan"></button>
              </div>
            {{else}}
              <div class="gui">
                <i class="icon icon-placeholder"></i>
                <span class="name">Cover</span>
                <input class="upload cover-upload" accept="image/*" type="file">
              </div>
            {{/if}}
          </div>
        </div>

        {{#if showIntro}}
          <div class="form-row">
            {{> editor class="intro" content=intro placeholder="Intro"}}
          </div>
        {{/if}}
      </div>

      <div class="card rect dim-default-padding">
        <div class="remove-from-md">
          {{#tabs tabState=tabState}}
            {{> tab name="Ingredients" value="ingredients"}}
            {{> tab name="Preparation" value="preparation"}}
          {{/tabs}}
        </div>
        {{> recipeSections sections=sections tabState=tabState}}
      </div>
    </div>

    <button 
      type="submit" 
      class="save-recipe btn btn-accent btn-big btn-middle dim-100">
      Save Draft
    </button>

  </form>
</template>