<template name="recipeSteps">
  <div class="recipe-steps">

    <h2 class="remove-until-md">{{_ "recipe.steps-title"}}</h2>

    <div class="steps-list">
      {{#each this}}
        {{> recipeStep}}
      {{/each}}
    </div>
  
    {{#if showAddForm}}
      <div class="action-bar">
        {{> editor class="new-step action-target" content=content placeholder=newPlaceholder}}
        <div class="actions">
          <button type="button" class="add-step action icon icon-plus pull-right"></button>
        </div>
      </div>
    {{/if}}
  </div>
</template>