<template name="recipeSteps">
  <div class="recipe-steps">

    <h2 class="remove-until-md">Steps</h2>

    <div class="steps-list">
      {{#each this}}
        {{> recipeStep}}
      {{/each}}
    </div>
  
    {{#if showAddForm}}
      <div class="action-bar">
        <div contenteditable="true" class="new-step textarea action-target input dim-100" placeholder="{{newPlaceholder}}"></div>
        <div class="actions">
          <button type="button" class="add-step action icon icon-placeholder pull-right"></button>
        </div>
      </div>
    {{/if}}
  </div>
</template>