.recipr-menu {
  color: $color-text-header-link;

  margin: 20px;

  a {
    color: $color-text-header-link;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: 0;
    padding: 0;
  }
}