.recipr-steps {
    @include clear-fix();

    .add-step {
    	float: right;
    	width: 150px;
    }

    .add-form {
    	position: relative;
    	margin-left: 50px;
        .step-content {
            min-height: 100px;
            width: 100%;
            padding: 10px;
            padding-right: 50px;
        }

        .actions {
	        position: absolute;
	        right: 0px;
	        top: 0px;
	        .action {
	            display: block;
	            width: auto;
	            border-radius: 0;
	            width: 70px;
	            padding-left: 5px;
	            padding-right: 5px;
	        }
	    }
    }
}
