.recipr-step {
    @include clear-fix();
    position: relative;
    width: 500px;

    .step-wrap {
        height: 100%;
    }

    .step-index {
        color: $color2;
        background: $color1;
        width: 30px;
        height: 30px;
        font-size: 20px;
        display: block;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        float: left;
        margin-right: 10px;
    }

    .step-content {
        padding: 0;
    }

    .actions {
        position: absolute;
        right: 10px;
        top: 10px;
        .action {
            display: none;
            width: auto;
            float: left;
            margin-left: 10px;
        }
    }

    &.edit {
        .step-index {
            display: none;
        }
    }

    &:hover,
    &.edit {
        background-color: #cccccc;
        .action {
            display: initial;
        }
    }
}
