@mixin input {
    height: 40px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    border: 1px solid $border-color;
    border-radius: 10px;
    color: $main-text-color;
    background-color: $input-background-color;
    background-image: none;
    margin: 0;
    width: 100%;

    @include default-inset-shadow;

    &.iSmall {
        height: 30px;
        padding: 5px 20px;
        font-size: 16px;
        line-height: 16px;
    }

    &.iBig {
        height: 50px;
        padding: 10px 20px;
        font-size: 30px;
        line-height: 30px;
    }

    ::-webkit-input-placeholder {
       color: $border-color;
    }

    :-moz-placeholder {
       color: $border-color;
    }

    ::-moz-placeholder {
       color: $border-color;
    }

    :-ms-input-placeholder {
       color: $border-color;
    }
}