* {
  @include box-sizing(border-box);
}

.wrap {
    margin: 0 10px;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    @include clear-fix();

    &.bigRow {
      padding-top: 20px;
      padding-bottom: 20px;
    }
}
