<template name="recipeSection">
  <div class="section">

    {{#if hasMultipleSections}}
      <input type="text" class="section-name" value="{{name}}">
      {{#if showDeleteButton}}
      <button type="button" class="remove-section">remove section</button>
      {{/if}}
    {{/if}}

    <div class="grid">
      <div class="grid-row">

        <div class="grid-col-5 grid-col-md {{#if showPreparation}}remove-until-md{{/if}}">
          {{> recipeIngredients ingredients}}
        </div>

        <div class="grid-col-7 grid-col-md {{#if showIngredients}}remove-until-md{{/if}}">
          {{> recipeSteps steps}}
        </div>
         
      </div>
    </div> 
  </div>
</template>


