<template name="sidebar">
  <nav class="recipr-sidebar sidebar fixed {{showSidebar}}">
    <div class="cover"></div>
    <div class="menus z-2">
      <div class="menu">
        <a class="menu-item {{active route=""}}" href="/">
          <i class="icon icon-placeholder"></i>
          Dashboard
        </a>
        <a class="menu-item {{active route="recipes"}}" href="/recipes">
          <i class="icon icon-placeholder"></i>
          Recipes
        </a>
        <a class="menu-item {{active route="ingredients"}}" href="/ingredients">
          <i class="icon icon-placeholder"></i>
          Ingredients
        </a>
        <a class="menu-item {{active route="settings"}}" href="/settings">
          <i class="icon icon-placeholder"></i>
          Settings
        </a>
      </div>
    </div>
  </nav>
</template>
