<template name="sidebar">
  <nav class="recipr-sidebar sidebar fixed {{showSidebar}}">
    <div class="cover"></div>
    <div class="menus z-2">
      <div class="menu">
        <a class="menu-item {{active route="recipes"}}" href="/">
          <i class="icon icon-placeholder"></i>
          {{_ "global.recipes"}}
        </a>
        <a class="menu-item {{active route="ingredients"}}" href="/ingredients">
          <i class="icon icon-placeholder"></i>
          {{_ "global.ingredients"}}
        </a>
        <a class="menu-item {{active route="settings"}}" href="/settings">
          <i class="icon icon-placeholder"></i>
          {{_ "global.settings"}}
        </a>
        {{#if currentUser}}
        <span class="menu-item logout">
          <i class="icon icon-placeholder"></i>
          {{_ "global.logout"}}
        </span>
        {{/if}}
      </div>
    </div>
  </nav>
</template>
