{{#if steps}}
    {{#each step in steps}}
    	{{recipr-step index=step.index content=step.content isEditable=step.isEditable}}
    {{/each}}
{{/if}}
{{#unless inEditMode}}
	<div class="btn bSmall addStep" {{action 'addStep'}}>add next step</div>
{{/unless}}
