.card {
  border-radius: $dim-border-radius * 2;
  background-color: $color-background;

  &.rect {
    border-radius: 0;
  }

  &.b-t {
    border-top: 1px solid $color-neutral;
  }

  &.b-b {
    border-bottom: 1px solid $color-neutral;
  }

  &.b-l {
    border-left: 1px solid $color-neutral;
  }

  &.b-r {
    border-right: 1px solid $color-neutral;
  }

  &.dark {
    background-color: $color-primary;
    color: $color-primary-text;
  }
}