<template name="confirm">
  <div class="confirm {{showConfirm}}" style="{{position}}">
    <div class="wrap">
      <div class="confirm-box z-1">
        <div class="confirm-content">
          {{message}}
        </div>
        <div class="confirm-actions">
          <button class="cancel-confirm btn btn-accent btn-small btn-trans">Cancel</button>
          <button class="accept-confirm btn btn-accent btn-small">{{action}}</button>
        </div>
      </div>
    </div>
    <div class="cover"></div>
  </div>
</template>