.recipr-sidebar {
    position: fixed;
    z-index: 90;
    height: 100%;
    width: 100%;
    max-width: 0;
    background-color: $color-background-header;
    color: $color-header;
    top: 0;
    left: 0;
    padding: 60px 0;
    overflow: hidden;

    &.show {
        max-width: 150px;
    }

    @media (min-width: $breakpoint-2) {
        max-width: 150px;
    }
}
