.recipr-header {
  background-color: $header-background-color;
  color: $header-color;
  width: 100%;
  display: block;
  font-size: 30px;
  line-height: 40px;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
